In [1]:
import awswrangler as wr
import pandas as pd

In [22]:
dados = {'name': ["Daenerys Targaryen", "Drogon Targaryen"], 
       'email': ["motherofdragons@dracarys.com", "drogon@dracarys.com"]}

In [23]:
df = pd.DataFrame(data=dados)

In [25]:
# Salvar dados no Data Lake
wr.s3.to_parquet(
    df=df,
    path="s3://anadatalab/database",
    dataset=True,
    database="learning",
    table="got"
)

{'paths': ['s3://anadatalab/database/7a7deb56aa81424e8229f83c34a3828c.snappy.parquet'],
 'partitions_values': {}}

In [26]:
# Recuperar dados do S3
df = wr.s3.read_parquet("s3://anadatalab/database", dataset=True)

In [27]:
# Recuperar dados do Glue pelo Athena
df = wr.athena.read_sql_query("SELECT * FROM got", database="learning")

In [28]:
df

                 name                         email
0  Daenerys Targaryen  motherofdragons@dracarys.com
1    Drogon Targaryen           drogon@dracarys.com