In [1]:
import boto3

## List buckets

### Client

In [2]:
client = boto3.client('s3')

In [3]:
response = client.list_buckets()

In [5]:
bucket_obj = response['Buckets']
bucket_obj

[{'Name': 'anadatalab',
  'CreationDate': datetime.datetime(2022, 2, 26, 21, 44, 34, tzinfo=tzutc())}]

In [6]:
for item in bucket_obj:
    print(f"name: {item['Name']}")
    print(f"created at: {item['CreationDate']}")

name: anadatalab
created at: 2022-02-26 21:44:34+00:00

## Upload files

In [31]:
def upload_files(file_name, bucket, object_name=None, args=None):
    try:
        if object_name is None:
            object_name = file_name
        resp = client.upload_file(file_name, bucket, object_name, ExtraArgs=args)
        print('File uploaded successfully')
    except Exception as error:
        print(f'Error uploading file. Msg: {error}')

In [32]:
upload_files('inauguracoes.csv', 'anadatalab')

File uploaded successfully

## Download files

### Resource

In [27]:
import re

In [35]:
s3 = boto3.resource('s3', region_name='us-east-1')

In [36]:
bucket = s3.Bucket('anadatalab')

In [51]:
def download_files(bucket, key):
    file_name = key.split("/")[1]
    if re.findall("^csvfiles/.*csv$", key):
        client.download_file(bucket, key, file_name)

In [52]:
for file in bucket.objects.all():
    download_files(file.bucket_name, file.key)

dados.csv
inauguracoes.csv

## Get data from a file

### Pandas

In [38]:
import pandas as pd

In [39]:
data = pd.read_csv('inauguracoes.csv')

In [40]:
data.head(5)

               Nome Construção  Linha Inauguração  Idade
0  Francisco Morato       CPTM      7  14/02/1867    152
1       Água Branca       CPTM      7  16/02/1867    152
2              Brás       CPTM      7  16/02/1867    152
3           Jundiaí       CPTM      7  16/02/1867    152
4               Luz       CPTM      7  16/02/1867    152